<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/template :: header" />
<body>

<div class="container">
	<th:block th:include="fragments/template :: navigation"/>

	<table class="table" ng-hide="!products || products.length <= 0">
			<thead>
				<tr>
					<th>Name</th>
					<th>Category</th>
					<th>Measure</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in products">
					<td>{{product.name}}</td>
					<td>{{product.category}}</td>
					<td>{{product.measureAmount}}</td>
					<td>
						<button class="pull-right btn btn-danger" type="button" title="Delete" ng-click="deleteProduct(product)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>
