<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="fragments :: header" />
	<title>Gross RE Test</title>
</head>

<body>
<div class="container">

	<th:block th:include="fragments :: navigation"/>

	<div class="jumbotron">

		<h1>Welcome to Gross REs Test444</h1>
		<p>This is the future site of the most amazing, most spectacular, most unbelievable over-exaggeration ever!</p>

	</div>
</div>

<th:block th:include="fragments :: footer"/>
</body>
</html>

