<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8"/>
  <title>ReactJS + Spring Data REST</title>
  <link rel="stylesheet" href="/css/main.css" />
  <script
      th:with="host=${#request.getServerName()},port=${@environment.getProperty('spring.devtools.livereload.port')}"
      th:src="@{js/livereload.js(host=${host},port=${port == null}? 35729 : ${port},v=2.2.2)}"
      th:if="${@environment.getProperty('app.isDebug')}"></script>
</head>
<body>

<div id="react"></div>

<script src="built/bundle.js"></script>

</body>
</html>
